body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body div:nth-child(1) {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
}

body div:nth-child(2) {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;
}

button {
    width: 100px;
    height: 15px;
}