body {
    background-color: rgb(193, 193, 193);
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.card {
    background-color: #fff;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 1s ease-in-out;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(0);
}

.back {
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

input {
    display: none;
}

input:checked + label .front {
    transform: rotateY(-180deg);
}

input:checked + label .back {
    transform: rotateY(0);
}