body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.loadwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;

    z-index: 1000;
    animation: loadAnim 0.7s ease-out 1.5s forwards;
}

.ballwrapper {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: -20vh;

    z-index: 0;
    animation: ballAnim 1.2s ease-in 1.5s 1 forwards;
}

.ballwrapper div {
    width: 20vh;
    height: 20vh;
    border-radius: 10vh;
}

.ballwrapper div:nth-child(1) {
    background-color: aquamarine;
}

.ballwrapper div:nth-child(2) {
    background-color: chocolate;
}

.ballwrapper div:nth-child(3) {
    background-color: goldenrod;
}

.ballwrapper div:nth-child(4) {
    background-color: lightpink;
}

.ballwrapper div:nth-child(5) {
    background-color: mediumslateblue;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loadAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes ballAnim {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(20px);
        left: 150%;
        display: none;
    }
}